
<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Home</h1>

	<h2>This is the <%= link_to 'home', '#' %> page</h2>
	<p>Sätt in ett inloggningsformulär</p>
	<p>Check it!</p>


	<%= link_to "Log in!", '#', class: "btn btn-large btn-primary" %>
	<%= link_to "Forgot password?", '#', class: "btn btn-large btn-primary" %>

</div>