<% if @feedall_items.any? %>
	<table class="table table-striped">
		<caption class="titlar">Documents (<%= @feedall_items.count %>)</caption>
		<%= render partial: 'shared/feedall_item', collection: @feedall_items %>
	</table>
<% end %>