<li>
	<span class=""><%= link_to upload.document_file_name, upload.document.url, :target => "_blank" %></span>
	<span class="timestamp">
	 	- Posted <%= time_ago_in_words(upload.created_at) %> ago by <%= @user.name %>.
	</span>
	<%= link_to "delete", upload, method: :delete, data: { confirm: "You sure?" }, title: upload.document_file_name %>
	

</li>
