<footer class="footer">
  <small>
    <%= link_to "uPloadDoc", root_path %>
    by Martin Gyhagen
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><a href="http://hldesign.se/">hldesign</a></li>
    </ul>
  </nav>
</footer>